.main_app{
    display: flex;
    
}

.containerTitleHome{
    height: 250px;
    width: 550px;
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    text-shadow: 0 0 7px black;
}
.containerTitleHome h1{
    font-size: 55pt;
}
.containerTitleHome h2{
    font-size: 25pt;
 
}