:root {

  font-family: 'Roboto', sans-serif;

   --planoDeFundo:#245d7f;
}


body{
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--planoDeFundo);
  color:#fff;
  height: 100vh;

}