:root {

  font-family: 'Roboto', sans-serif;
}


body{
  display: flex;
  justify-content: end;
  align-items: center;
  background: linear-gradient(45deg, #245d7f, #0e76b3);
  color:#fff;
  height: 100vh;


 


}