#forms{
    display: flex;
    background-color: #ffffff;
    height: 300px;
    gap: 15px;
    justify-content: center;
    width: 500px;
    border-radius: 15px;
    flex-direction: column;
    margin-right: 500px ;
    color: var(--planoDeFundo);
    box-shadow: 1px 1px 15px black ;

}


#forms h1, label{
    margin-left: 25px;
}


.btn-prosseguir{
    display: flex;
    justify-content: end;
    margin-right: 25px;
}


#nome-do-colaborador,#unidade{
    width: 300px;
    height: 25px;
    border-radius:  5px;
    border: 0.5px solid;
    background-color: transparent;
    margin-left: 25px;
}

.btn-prosseguir #btn{
    background-color: transparent;
    border: 2px solid #245d7f;
    border-radius: 5px;
    color: #245d7f;
}

