
.container__content{
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;

}


.forms{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 300px;
  background-color: #fff;
  height: 450px;
  width: 450px;
  border-radius: 25px;
  color: #245D7F;
  font-weight: 600;
  box-shadow: 15px 15px  10px #245D7F ;




}
#linha{
  width: 90%;
  border: #245D7F solid 0.5px;

}




.container__content{
  display: flex;
  margin-top: 50px;




}
.container__content input{
  display: flex;
  width: 350px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
   border: #245D7F solid 0.5px;
   margin-left: 50px;

}

.container__btn{
  display: flex;
  margin-top: 50px;
  justify-content: end;
  margin-right: 25px;


}

.container__btn input{
  height: 35px;
  width: 100px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#btn_continuar{
  background-color: #245D7F;
  color: #fff;
}
#btn_continuar:hover{
  background-color: rgb(14, 118, 179);
  color: #fff;

}

#btn_voltar{
  border: #245D7F solid 1px ;
  background-color: transparent;
  color: #245D7F;
}

#btn_voltar:hover{
  background-color: #a33120a9;
  color: #fff;


}

@media (max-width:1330px) {
  .container__content, .forms{
    margin-left: 50px;
   transition: 0.2s;
  }
}